.bg{
    background-image: url("../img/20634.jpg");
    background-size: cover;
    height: 800px;

}

.bgSS{
    background-image: url("../img/skyward sword/SSWP.jpg");
    background-size: cover;
    height: 1080px;

}

.Gt{
    font-size: 80px;
    font-style: italic;
    color: goldenrod;
}

.hover{
    cursor: pointer;
}

.syp{
    color: black;
    font-weight: bolder;
    font-size: 20px;
    font-style: italic;
}

.hr{
    margin-bottom:30px;
    margin-top:30px;
    max-width: 50px;
    border-width: 3px;
    border-color: #f05f40;
}

p{
    font-size: 18px;
}

.rouge{
    color: red;
}

.bg2{
    background-color: #28a745;
    height: 400px;
}

.bgg{
    background-color: lightblue;
    height: 50px;
}

.hide{
    display: none;
}

.imgM{
    width: 700px;
    height: 400px;
}

.modal{
     max-width: 750px !important;
}

.pTitre{
    font-size: 80px;
    color: #533f03;
}

.contrast{
    opacity: 1;
    height: fit-content;
}

.str{
    background-color: lightcyan;
}

.pad{
    padding: 0;
}

#Média{
    font-style: italic;
}

