/*css.css */
/* Programmé par Jonathan Larouche */
/* Le 17 octobre 2019 */


.ban{
    width: 100%;
    height: 100%;
}

.ban{
    background-image: url("../img/Accueil/90182.jpg");
    background-position: center;
    height: 100%;
    width: 100%;
}

.bgf{
    background-color: #fff3cd;
}

.bgZ{
    background-color: pink;
}

.bgG{
    background-color: grey;
}

.bg2{
    background-color: #c99926;
}

.bgp{
background-color: #0c5460;
}

html,body{
    height: 100%;
    font-size: 15px;
}

.parralax{
    background-image: url("../img/Accueil/112-1122564_holders-of-the-triforce-19201080-hdwallpaper-wallpaper-illustration.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgI {
    background-color: rgba(66, 66, 66, 0.5);
}

@media only screen and (max-width: 480px){
    .ban{
        background-image: url("../img/Accueil/mq1/23021-triforce-the-legend-of-zelda-1920x10dfgdfgd80-game-wallpaper.jpg");
    }
    html,body{
        font-size: 1.1rem;
    }
}




@media screen and (min-width: 481px) and (max-width: 1024px) {
    .ban{
        background-image: url("../img/Accueil/mq1/link legend triforce the legend of zelda 1920x1080 wallpaper_www.paperhi.com_30.jpg");
    }
    html,body{
        font-size: 1.5rem;
    }
}



.navbar {
    background-color: #c99926;
}
.navbar .navbar-brand {
    color: #000000;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #f3eff7;
}
.navbar .navbar-text {
    color: #000000;
}
.navbar .navbar-text a {
    color: #f3eff7;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #f3eff7;
}
.navbar .navbar-nav .nav-link {
    color: #000000;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #f3eff7;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #f3eff7;
    background-color: #397e1f;
}
.navbar .navbar-toggle {
    border-color: #397e1f;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #397e1f;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #000000;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #000000;
}
.navbar .navbar-link {
    color: #000000;
}
.navbar .navbar-link:hover {
    color: #f3eff7;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #f3eff7;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #f3eff7;
        background-color: #397e1f;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #f3eff7;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #f3eff7;
        background-color: #397e1f;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #f3eff7;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #f3eff7;
        background-color: #397e1f;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #f3eff7;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #f3eff7;
        background-color: #397e1f;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #f3eff7;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #f3eff7;
    background-color: #397e1f;
}