/*css.css */
/* Programmé par Jonathan Larouche */
/* Le 12 décembre 2019 */

.bg1{
    background-color: lightgray;
}

.bgf{
    background-color: dimgrey;
}

.red{
    color: red;
}

.couleur{
    color: #1e7e34;
}

.mt-6{
    margin-top: 56px;
}

.mx-10{
    margin-left: 100px;
}

.header1 {
    position: relative;
    background-color: black;
    height: 100%;
    min-height: 50rem;
    width: 100%;
    overflow: hidden;
}


@media only screen and (max-width: 480px){
    .video{
        background-image: url("../Img/Les Survivants Logo (1).png");
    }
    html,body{
        font-size: 1rem;
    }
    .logo{
        display: none;
    }
}




@media screen and (min-width: 481px) and (max-width: 1024px) {
    .video{
        background-image: url("../Img/Les Survivants Logo (1).png");
    }
    html,body{
        font-size: 1.5rem;
    }
    .logo{
        display: none;
    }

}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}



.navbar {
    background-color: #645c67;
}
.navbar .navbar-brand {
    color: #fefeff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #dcffdb;
}
.navbar .navbar-text {
    color: #fefeff;
}
.navbar .navbar-text a {
    color: #dcffdb;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #dcffdb;
}
.navbar .navbar-nav .nav-link {
    color: #fefeff;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #dcffdb;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #dcffdb;
    background-color: #309d16;
}
.navbar .navbar-toggle {
    border-color: #309d16;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #309d16;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #fefeff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #fefeff;
}
.navbar .navbar-link {
    color: #fefeff;
}
.navbar .navbar-link:hover {
    color: #dcffdb;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fefeff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #dcffdb;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #dcffdb;
        background-color: #309d16;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fefeff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #dcffdb;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #dcffdb;
        background-color: #309d16;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fefeff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #dcffdb;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #dcffdb;
        background-color: #309d16;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #fefeff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #dcffdb;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #dcffdb;
        background-color: #309d16;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #fefeff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #dcffdb;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #dcffdb;
    background-color: #309d16;
}