.box{
    overflow: hidden;
}

.bgL{
    background-image: url("../img/293136.jpg");
    background-position: center;
    height: 100%;
    width: 100%;
}

.bgZ{
    background-image: url("../img/Pqp2HwZ.jpg");
    background-position: center;
    height: 100%;
    width: 100%;
}

.bgG{
    background-image: url("../img/55552.jpg");
    background-position: center;
    height: 100%;
    width: 100%;
}